body{
    background-image: url("wp1828938.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #303030;
    background-attachment: fixed;
}

#slidebar{
    position: fixed;
    left: 0;
    margin: 0%;
    padding: 0%;   
}

#slidebar li{
    position: relative;
    color: whitesmoke;
    list-style: none;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);  
}

a{
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
    font-size: 20px;
}

#img{
    background-image:url("i.png");
    background-repeat: no-repeat;
    position: fixed;
    margin: 0%;
    padding: 0%;
    height:200px;
    width: 250px;
}

#slidebar div > li:hover{
    background-color:#C3B8A3;
}

#slidebar div > li:hover b{
    color: #303030;
}

.container{
    flex-direction: row;
    display: flex; 
}

.c-align{
    margin:0px 0px 0px 300px;
    position: absolute;
}

#text{
    font-size: 50px;
    color:white;
    font-family:"Comic Sans MS";
    padding-bottom: 100px;
    padding-top: 100px;
}

.pi{
    padding-bottom: 100px;
    padding-top: 100px;
}


.edu{
    padding-bottom: 100px;
    padding-top: 100px;
}

.tech{
    padding-bottom: 100px;
    padding-top: 100px;
}

#split{
    column-count: 5;
    list-style: none;
    padding: 10px 10px;
    width: 1400px;
    color: #ffbb33;
}

.tech ul li:nth-of-type(even)  i{
    color: #ff1493;
}

.tech ul li:nth-of-type(odd)  i{
    color: #ffbb33;
}


.skill{
    padding-bottom: 100px;
    padding-top: 100px;
}

.hobby{
    padding-bottom: 100px;
    padding-top: 100px;
}

.contact{ 
    padding-bottom: 100px;
    padding-top: 100px;
    display: inline-block;

}

.contact ul{
    position: absolute;   
    display: flex;
}

.contact ul li{
    margin: 0px 15px;
    list-style: none;
    align: center;
}

.contact ul li a i{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color:whitesmoke;
    text-align: center;
    transition: .6s;
    box-shadow: 5px 5px 4px #303030;    
}

.contact ul li .fa{
    font: 25px;
    line-height: 60px;
    transition: .6s;
    color:black;  
}

.contact ul li .fa:hover{
    background-color: #3b5999;
    color: white;
}

.contact ul li a i:hover {
    transform: translate(0,-10px);
}

.contact  ul li:nth-child(2) a i:hover{
    background-color: green;
}

.contact  ul li:nth-child(3) a i:hover{
    background-color: #3b5999;
}


.contact  ul li:nth-child(4) a i:hover{
    background-color: #e44056;
}

.contact  ul li:nth-child(5) a i:hover{
    background-color: skyblue;
}

.contact  ul li:nth-child(6) a i:hover{
    background-color: #f4c20d;
}
